Package: com.jdl.isotweaktmall
Name: iOSTweakTmall
Depends: mobilesubstrate, firmware (>= 8.0)
Architecture: iphoneos-arm
Description: Fucking Tmall
Maintainer: DengJinlong
Author: DengJinlong
Section: Tweaks
Version: 0.0.1-10+debug
Installed-Size: 136
